<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Interactive Theatre!</h1>
    <p>In this amazing Rails app, you can search for musicals and their songs!</p>
    <p>
      <%= link_to("Check out our musicals!", musicals_path, class: "btn btn-primary btn-lg") %>
    </p>
  </div>
</div>
